<div class="card rounded-5 text-center">
  <img [src]="makeUp?.images" class="card-img-top rounded-5" alt="..." />

  <div class="card-body">
    <h5 class="card-title">{{ makeUp?.title }} {{ makeUp?.brand }}</h5>
    <div class="container">
      <div class="row row-cols-1 mb-2">
        <div class="col">
          <p class="card-text cardInfo rounded-4">
            Anno: {{ makeUp?.description }}
          </p>
        </div>
        <div class="col mt-2 bg-info">
          <p class="card-text cardInfo rounded-4">
            Prezzo: {{ makeUp?.price }} €
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <a
        class="btn btn-success rounded-5 me-5"
        [routerLink]="['details', makeUp?.id]"
        >Info</a
      >
      <a
        class="btn btn-success rounded-5"
        [routerLink]="['/preferiti']"
        (click)="makeUp && addToFavorites(makeUp)"
        >Aggiungi a Preferiti</a
      >
    </div>
  </div>
</div>
